<section class="layout">
  <div class="header">
    <div class="child"><p class="customP">Don't have an account?</p></div>
    <div class="child">
      <button
        id="cardButton"
        mat-raised-button
        color="primary"
        routerLink="/register-page"
      >
        REGISTER
      </button>
    </div>
  </div>

  <div class="main">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div id="card">
        <h1 id="customTitle">Login to your account</h1>

        <div class="form-group" style="align-items: center">
          <mat-label>Enter your email: </mat-label>
          <mat-form-field appearance="outline" [style.width.px]="300">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-hint *ngIf="loginForm.get('email').hasError('required')"
              >Email is required</mat-hint
            >
            <mat-error *ngIf="loginForm.get('email').hasError('required')"
              >Email is required</mat-error
            >
            <mat-error *ngIf="loginForm.get('email').hasError('email')"
              >Email should follow structure: email@domain</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-group" style="align-items: center">
          <mat-label>Select your category: </mat-label>
          <mat-form-field appearance="outline" [style.width.px]="300">
            <mat-select
              (selectionChange)="onSelectChange($event)"
              id="categorySelect"
              disableOptionCentering
              placeholder="Category"
              formControlName="category"
            >
              <mat-option
                *ngFor="let category of categories"
                [value]="category.value"
                [disabled]="!category.isEnabled"
              >
                {{ category.viewValue }}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="loginForm.get('category').hasError('required')"
              >Category is required</mat-hint
            >
            <mat-error *ngIf="loginForm.get('category').hasError('required')"
              >Category is required</mat-error
            >
          </mat-form-field>
        </div>

        <div class="imageContainer" *ngIf="selectedType === 'animals'">
          <label
            formArrayName="images"
            *ngFor="let image of imagesFormArray.controls; let i = index"
          >
            <input
              style="display: none"
              type="checkbox"
              [formControlName]="i"
              (change)="onCheckboxChange(i, $event)"
            />
            <div class="imgHolder">
              <img
                width="100"
                height="100"
                style="margin: 0 5px 0 5px"
                alt="Image of an animal"
                id="{{ i }}"
                src="{{ animalsData[i].url }}"
              />
              <ng-container *ngFor="let id of password; let j = index">
                <span
                  matBadge="{{ j + 1 }}"
                  matBadgePosition="before"
                  matBadgeColor="primary"
                  *ngIf="i === id"
                ></span>
              </ng-container>
            </div>
          </label>
        </div>

        <div class="imageContainer" *ngIf="selectedType === 'food'">
          <label
            formArrayName="images"
            *ngFor="let image of imagesFormArray.controls; let i = index"
          >
            <input
              style="display: none"
              type="checkbox"
              [formControlName]="i"
              (change)="onCheckboxChange(i, $event)"
            />
            <div class="imgHolder">
              <img
                width="100"
                height="100"
                style="margin: 0 5px 0 5px"
                alt="Image of a food"
                id="{{ i }}"
                src="{{ foodData[i].url }}"
              />
              <ng-container *ngFor="let id of password; let j = index">
                <span
                  matBadge="{{ j + 1 }}"
                  matBadgePosition="before"
                  matBadgeColor="primary"
                  *ngIf="i === id"
                ></span>
              </ng-container>
            </div>
          </label>
        </div>

        <button
          id="cardButton"
          mat-raised-button
          [disabled]="!loginForm.valid || password.length <= 5"
          type="submit"
          color="primary"
        >
          LOGIN
        </button>
      </div>
    </form>
  </div>
</section>
