<section class="layout">
  <div class="header">
    <div class="child">
      <button
        id="cardButton"
        mat-raised-button
        color="primary"
        routerLink="/login-page"
      >
        LOGOUT
      </button>
    </div>
  </div>

  <div class="main">
    <div id="card">
      <h1 id="customTitle">
        Activation code was sent to your email address, please input it below to
        complete two-factor authentication
      </h1>
      <form [formGroup]="activationForm" (ngSubmit)="onSubmit()">
        <div class="form-group" style="align-items: center">
          <mat-label>Enter your activation code: </mat-label>
          <mat-form-field appearance="outline" [style.width.px]="300">
            <input
              matInput
              placeholder="Activation code"
              formControlName="code"
            />
            <mat-hint *ngIf="activationForm.get('code').hasError('required')"
              >Activation code is required</mat-hint
            >
            <mat-error *ngIf="activationForm.get('code').hasError('required')"
              >Activation code is required</mat-error
            >
            <mat-error *ngIf="activationForm.get('code').hasError('pattern')"
              >Only numbers are allowed</mat-error
            >
            <mat-error *ngIf="activationForm.get('code').errors"
              >Activation code should be 6 numbers long</mat-error
            >
          </mat-form-field>
        </div>
        <button
          id="cardButton"
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!activationForm.valid"
        >
          SUBMIT
        </button>
      </form>

      <!-- <div [hidden]="user">
        <h1>Sign In with Your Phone Number</h1>

        <label for="phone">Phone Number</label><br />

        <div id="recaptcha-container"></div>

        <button (click)="sendLoginCode()">SMS Text Login Code</button>

        <div *ngIf="windowRef.confirmationResult">
          <hr />
          <label for="code">Enter your Verification Code Here</label><br />
          <input type="text" name="code" />

          <button (click)="verifyLoginCode()">Verify</button>
        </div>
      </div>

      <div *ngIf="user">
        You have successfully logged in with your phone number! UserId:
        {{ user?.uid }}
      </div> -->
    </div>
  </div>
</section>
