<section class="layout">
  <div class="header">
    <div class="child">
      <button
        id="cardButton"
        mat-raised-button
        color="primary"
        routerLink="/login-page"
      >
        LOGOUT
      </button>
    </div>
  </div>

  <div class="main">
    <div id="card">
      <h1 id="customHomeTitle">YOUR LOGIN WAS SUCCESSFUL</h1>
      <h1 id="customTitle">
        Would you like to activate two-factor authentication?
      </h1>
      <button
        id="cardButton"
        mat-raised-button
        type="submit"
        color="primary"
        routerLink="/activation-page"
      >
        ACTIVATE
      </button>
    </div>
  </div>
</section>
