<section class="layout">
  <div class="header">
    <div class="child">
      <button
        id="cardButton"
        mat-raised-button
        color="primary"
        (click)="authService.SignOut()"
      >
        LOGOUT
      </button>
    </div>
  </div>

  <div class="main">
    <div id="card">
      <h1 id="customHomeTitle">YOUR LOGIN WAS SUCCESSFUL</h1>
      <div *ngIf="!currentUserAuthenticatorStatus">
        <h1 id="customTitle">
          Would you like to activate two-factor authentication?
        </h1>
        <button
          id="cardButton"
          mat-raised-button
          type="submit"
          color="primary"
          (click)="changeTwoFactorStatus(true)"
        >
          ACTIVATE
        </button>
      </div>
      <div *ngIf="currentUserAuthenticatorStatus">
        <h1 id="customTitle">
          Would you like to deactivate two-factor authentication?
        </h1>
        <button
          id="cardButton"
          mat-raised-button
          type="submit"
          color="primary"
          (click)="changeTwoFactorStatus(false)"
        >
          DEACTIVATE
        </button>
      </div>
    </div>
  </div>
</section>
